# Лабораторная работа №5
### Описание столбцов для предоставленных данных:

1. name: Название фильма
2. score: Средниц балл пользователей на IMDb
3. ganre1: Жанр 1
4. genre2: Жанр 2
5. genre3: Жанр 3
6. duration: Длительность фильма в минутах
7. realease: Дата выпуска фильма
8. rating: Возрасной рейтинг фильма в США
9. country: Страна
10. language: Язык
11. soung: Звуковая технология
12. color: Цвет или ч/б
13. ratio: Рейтинг фильма
14. budget: Бюджет
15. gross: Сборы
16. badReviews: Негативные отзывы
17. neutralReviews: Нейтральные отзывы
18. goodReviews: Положительные отзывы

### Типы данных столбцов:

1. name: строковый
2. score: вещественный
3. ganre1: строковый
4. genre2: строковый
5. genre3: строковый
6. duration: целочисленный
7. realease: дата
8. rating: строковый
9. country: строковый
10. language: строковый
11. soung: строковый
12. color: строковый
13. ratio: строковый
14. budget: строковый
15. gross: строковый
16. badReviews: целочисленный
17. neutralReviews: целочисленный
18. goodReviews: целочисленный

### Подключение данных и вывод таблицы

In [5]:
import pandas as pd
import numpy as np

dataSet = './movies.csv'
df = pd.read_csv(dataSet)

print(df.head())
print(df.info())

                    name  score  genre1 genre2 genre3  duration
0        Cadena perpetua    9.3   Drama    NaN    NaN       142  \
1             El padrino    9.2   Crime  Drama    NaN       175
2   El padrino: Parte II    9.0   Crime  Drama    NaN       202
3    El caballero oscuro    9.0  Action  Crime  Drama       152
4  12 hombres sin piedad    9.0   Crime  Drama    NaN        96

            release rating country language
0  24 February 1995     13     USA  English  \
1   20 October 1972     18     USA  English
2   13 October 1975     18     USA  English
3    13 August 2008     12     USA  English
4     10 April 1957      A     USA  English

                                 sound            color     ratio
0                        Dolby Digital            Color  1.85 : 1  \
1                             DTS|Mono            Color  1.85 : 1
2                                 Mono            Color  1.85 : 1
3  Dolby Digital|SDDS|DTS|IMAX 6-Track            Color  2.39 : 1
4                                 Mono  Black and White  1.66 : 1

         budget           gross  badReviews  neutralReviews  goodReviews
0   $25,000,000     $28,817,291         240             473         7764
1    $6,000,000    $246,120,986         228             257         3603
2   $13,000,000     $48,035,783          38              85          910
3  $185,000,000  $1,005,973,645         548             715         5908
4      $350,000            $955          31             100         1537
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            250 non-null    object
 1   score           250 non-null    float64
 2   genre1          250 non-null    object
 3   genre2          225 non-null    object
 4   genre3          155 non-null    object
 5   duration        250 non-null    int64
 6   release         250 non-null    object
 7   rating          238 non-null    object
 8   country         250 non-null    object
 9   language        243 non-null    object
 10  sound           249 non-null    object
 11  color           250 non-null    object
 12  ratio           248 non-null    object
 13  budget          220 non-null    object
 14  gross           237 non-null    object
 15  badReviews      250 non-null    int64
 16  neutralReviews  250 non-null    int64
 17  goodReviews     250 non-null    int64
dtypes: float64(1), int64(4), object(13)
memory usage: 35.3+ KB
None

### Вывод первых 5 элементов таблицы

In [4]:
print(df.head())

                    name  score  genre1 genre2 genre3  duration
0        Cadena perpetua    9.3   Drama    NaN    NaN       142  \
1             El padrino    9.2   Crime  Drama    NaN       175
2   El padrino: Parte II    9.0   Crime  Drama    NaN       202
3    El caballero oscuro    9.0  Action  Crime  Drama       152
4  12 hombres sin piedad    9.0   Crime  Drama    NaN        96

            release rating country language
0  24 February 1995     13     USA  English  \
1   20 October 1972     18     USA  English
2   13 October 1975     18     USA  English
3    13 August 2008     12     USA  English
4     10 April 1957      A     USA  English

                                 sound            color     ratio
0                        Dolby Digital            Color  1.85 : 1  \
1                             DTS|Mono            Color  1.85 : 1
2                                 Mono            Color  1.85 : 1
3  Dolby Digital|SDDS|DTS|IMAX 6-Track            Color  2.39 : 1
4                                 Mono  Black and White  1.66 : 1

         budget           gross  badReviews  neutralReviews  goodReviews
0   $25,000,000     $28,817,291         240             473         7764
1    $6,000,000    $246,120,986         228             257         3603
2   $13,000,000     $48,035,783          38              85          910
3  $185,000,000  $1,005,973,645         548             715         5908
4      $350,000            $955          31             100         1537

### Вывод последних 5 элементов таблицы

In [5]:
print(df.tail())

                                               name  score     genre1
245                               Sucedió una noche    8.1     Comedy  \
246                           Milagro en la celda 7    8.2      Drama
247                                      Mandarinas    8.2      Drama
248  Neon Genesis Evangelion: The End of Evangelion    8.1  Animation
249                             La batalla de Argel    8.1      Drama

      genre2 genre3  duration           release rating  country  language
245  Romance    NaN       105  22 February 1934      A      USA   English  \
246      NaN    NaN       132     13 March 2020     12   Turkey   Turkish
247      War    NaN        87   17 October 2013     12  Estonia  Estonian
248   Action  Drama        87      21 June 2019     18    Japan  Japanese
249      War    NaN       121       1 June 1978     18    Italy    Arabic

                                     sound            color     ratio
245                                   Mono  Black and White  1.37 : 1  \
246                                 Stereo            Color  2.35 : 1
247                          Dolby Digital            Color  2.35 : 1
248  Dolby Digital|DTS-ES|Dolby Digital EX            Color  1.85 : 1
249                                   Mono  Black and White  1.85 : 1

         budget        gross  badReviews  neutralReviews  goodReviews
245    $325,000          NaN          11              39          224
246         NaN  $17,163,660          15              19          341
247  EUR650,000   $1,024,132           6              11           81
248         NaN          NaN          23              20          128
249    $800,000     $964,028           8              53          211

###  использовать функцию describe()

In [6]:
print(df.describe())

            score    duration   badReviews  neutralReviews  goodReviews
count  250.000000  250.000000   250.000000      250.000000   250.000000
mean     8.304000  129.944000   102.204000      138.312000   848.772000
std      0.221677   32.567829   162.440234      172.861503  1082.402775
min      8.100000   45.000000     0.000000       10.000000    35.000000
25%      8.100000  108.000000    17.000000       45.250000   275.500000
50%      8.200000  127.000000    37.500000       84.000000   559.500000
75%      8.400000  145.750000   120.000000      156.750000  1002.000000
max      9.300000  321.000000  1245.000000     1549.000000  8343.000000

### считывание значения конкретной ячейки (с конкретным индексом из конкретной колонки) всеми известными вам способами

In [8]:
print(df.iloc[0, 0])
print(df.at[0, 'language'])
print(df.loc[0, 'language'])

Cadena perpetua
English
English

### фильтрация строк по диапазону индекса

In [9]:
print(df.loc[10:20])

                                       name  score     genre1     genre2
10                      El club de la lucha    8.8      Drama        NaN  \
11                             Forrest Gump    8.8      Drama    Romance
12                                   Origen    8.8     Action  Adventure
13  El señor de los anillos: Las dos torres    8.7     Action  Adventure
14                   El Imperio contraataca    8.7     Action  Adventure
15                                   Matrix    8.7     Action     Sci-Fi
16                      Uno de los nuestros    8.7  Biography      Crime
17      Alguien voló sobre el nido del cuco    8.7      Drama        NaN
18                       Los siete samuráis    8.6     Action  Adventure
19                                    Seven    8.6      Crime      Drama
20                         La vida es bella    8.6     Comedy      Drama

     genre3  duration            release rating      country  language
10      NaN       139    5 November 1999     18      Germany   English  \
11      NaN       142  23 September 1994      A          USA   English
12   Sci-Fi       148      6 August 2010     12          USA   English
13    Drama       179   18 December 2002     12  New Zealand   English
14  Fantasy       124     3 October 1980      A          USA   English
15      NaN       136       23 June 1999     18          USA   English
16    Drama       146    19 October 1990     18          USA   English
17      NaN       133     7 October 1976     18          USA   English
18    Drama       207      26 April 1954      A        Japan  Japanese
19  Mystery       127    10 January 1996     18          USA   English
20  Romance       116   26 February 1999      A        Italy   Italian

                                                sound            color
10                             Dolby Digital|DTS|SDDS            Color  \
11        DTS|Dolby SR|SDDS|Dolby Atmos|Dolby Digital            Color
12                             Dolby Digital|DTS|SDDS            Color
13           DTS-ES|Dolby Digital EX|SDDS|Dolby Atmos            Color
14  70 mm 6-Track|Dolby Stereo|Dolby Digital EX|DT...            Color
15                 DTS|Dolby Digital|SDDS|Dolby Atmos            Color
16                                           Dolby SR            Color
17                                               Mono            Color
18                                        Mono|Stereo  Black and White
19                                  DTS|Dolby Digital            Color
20                                      Dolby Digital            Color

       ratio          budget         gross  badReviews  neutralReviews
10  2.39 : 1     $63,000,000  $101,209,593         272             279  \
11  2.39 : 1     $55,000,000  $678,226,133         176             158
12  2.39 : 1    $160,000,000  $836,836,967         530             538
13  2.39 : 1     $94,000,000  $943,495,095         183             231
14  2.20 : 1     $18,000,000  $538,375,067          26              92
15  2.39 : 1     $63,000,000  $466,364,845         322             415
16  1.85 : 1     $25,000,000   $46,952,991          62             111
17  1.85 : 1      $3,000,000  $108,997,629          53              94
18  1.33 : 1  JPY125,000,000      $322,773          30              61
19  2.39 : 1     $33,000,000  $327,333,559         114             170
20  1.85 : 1     $20,000,000  $230,098,753         122              84

    goodReviews
10         2854
11         2076
12         3035
13         1708
14         1058
15         2941
16         1085
17          796
18          591
19         1127
20          958

### Фильтрация набора данных по какому-либо условию

In [11]:
print(df[df['duration'] > 200])

                                            name  score     genre1     genre2
2                           El padrino: Parte II    9.0      Crime      Drama  \
6    El señor de los anillos: El retorno del rey    8.9     Action  Adventure
18                            Los siete samuráis    8.6     Action  Adventure
71                      Érase una vez en América    8.4      Crime      Drama
168                    Lo que el viento se llevó    8.1      Drama    History
210                                      Ben-Hur    8.1  Adventure      Drama
227                           Gangs of Wasseypur    8.2     Action     Comedy
232        La Liga de la Justicia de Zack Snyder    8.2     Action  Adventure

      genre3  duration           release rating      country  language
2        NaN       202   13 October 1975     18          USA   English  \
6      Drama       201  17 December 2003     12  New Zealand   English
18     Drama       207     26 April 1954      A        Japan  Japanese
71       NaN       229   24 January 1985     18        Italy   English
168  Romance       238   17 January 1940      A          USA   English
210  History       212  18 November 1959      A          USA   English
227    Crime       321      22 June 2012     16        India     Hindi
232  Fantasy       242     18 March 2021     16          USA   English

                                        sound            color     ratio
2                                        Mono            Color  1.85 : 1  \
6    DTS-ES|Dolby Digital EX|SDDS|Dolby Atmos            Color  2.39 : 1
18                                Mono|Stereo  Black and White  1.33 : 1
71                                       Mono            Color  1.85 : 1
168                                      Mono            Color  1.37 : 1
210                            6-Track Stereo            Color  2.66 : 1
227                  Dolby Digital EX|Datasat            Color  2.35 : 1
232                 Dolby Digital|Dolby Atmos            Color  1.33 : 1

             budget           gross  badReviews  neutralReviews  goodReviews
2       $13,000,000     $48,035,783          38              85          910
6       $94,000,000  $1,142,563,940         237             275         2918
18   JPY125,000,000        $322,773          30              61          591
71      $30,000,000      $5,472,914         106              96          431
168      $3,977,000    $402,352,579          85             105          580
210     $15,000,000     $74,427,638          24              37          348
227  INR184,000,000      $4,384,642          19              31          207
232             NaN             NaN         482             594         6113

### Работа с пропущенными значениями (если они есть): удаление строк с пропущенными значениями, заполнение пропущенных значений средним значением по колонке. Если пропущенных значений нет — намеренно их "генерируете", прибивая какие-то куски данных в np.nan

In [13]:
# генерация пропущенных строк
data = np.random.rand(1000, 5)
mask = np.random.choice([True, False], size=data.shape, p=[0.05, 0.95])
data[mask] = np.nan

print(df.describe())

# Заполнение пропущенных значений в колонке mpg средним значением
mean_score = df['score'].mean()
df['score'].fillna(mean_score, inplace=True)

# удаление пропущенных строк
df.dropna(inplace=True)

print(df.describe())

            score    duration   badReviews  neutralReviews  goodReviews
count  250.000000  250.000000   250.000000      250.000000   250.000000
mean     8.304000  129.944000   102.204000      138.312000   848.772000
std      0.221677   32.567829   162.440234      172.861503  1082.402775
min      8.100000   45.000000     0.000000       10.000000    35.000000
25%      8.100000  108.000000    17.000000       45.250000   275.500000
50%      8.200000  127.000000    37.500000       84.000000   559.500000
75%      8.400000  145.750000   120.000000      156.750000  1002.000000
max      9.300000  321.000000  1245.000000     1549.000000  8343.000000
           score    duration   badReviews  neutralReviews  goodReviews
count  126.00000  126.000000   126.000000      126.000000   126.000000
mean     8.30873  132.777778   132.357143      171.626984   975.420635
std      0.21015   34.027257   201.951973      213.084086  1129.077098
min      8.10000   81.000000     2.000000       23.000000   143.000000
25%      8.10000  110.250000    23.000000       59.250000   429.750000
50%      8.30000  129.000000    51.500000      108.000000   662.500000
75%      8.40000  148.750000   129.750000      179.500000  1076.750000
max      9.00000  321.000000  1245.000000     1549.000000  8343.000000

### Cоздание нового поля вычисленного на основе значений других полей:

In [26]:
# Через выражение на базе имеющихся колонок
df['allReviews'] = df['badReviews'] + df['neutralReviews'] + df['goodReviews']


# Через Series.apply
def classify_score(score):
    if score < 1000:
        return 'low'
    elif score < 5000:
        return 'medium'
    else:
        return 'high'

df['score_category'] = df['score'].apply(classify_score)

print(df[['name', 'allReviews', 'score_category']])

                                                 name  allReviews
3                                 El caballero oscuro        7171  \
5                               La lista de Schindler        1758
6         El señor de los anillos: El retorno del rey        3430
9    El señor de los anillos: La comunidad del anillo        4782
12                                             Origen        4103
..                                                ...         ...
226                                      Hotel Rwanda         606
227                                Gangs of Wasseypur         257
230                                   Monstruos, S.A.         580
234                     Nausicaä del Valle del Viento         232
236                                            Rebeca         319

    score_category
3             high
5           medium
6           medium
9           medium
12          medium
..             ...
226            low
227            low
230            low
234            low
236            low

[126 rows x 3 columns]

### Сортировка по какому-либо из полей

In [27]:
df_sorted = df.sort_values('badReviews', ascending=False)
print(df_sorted)

                               name  score     genre1     genre2     genre3
75              Vengadores: Endgame   9075     Action  Adventure      Drama  \
61                            Joker  10805      Crime      Drama   Thriller
28                     Interstellar   4389  Adventure      Drama     Sci-Fi
205  Mad Max: Furia en la carretera   2092     Action  Adventure     Sci-Fi
3               El caballero oscuro   7171     Action      Crime      Drama
..                              ...    ...        ...        ...        ...
234   Nausicaä del Valle del Viento    232  Animation  Adventure    Fantasy
116                  El apartamento    318     Comedy      Drama    Romance
65                 Testigo de cargo    262      Crime      Drama    Mystery
118                       Perdición    385      Crime      Drama  Film-Noir
131              Children of Heaven    177      Drama     Family      Sport

     duration           release rating    country  language
75       9075     25 April 2019      7        USA   English  \
61      10805    4 October 2019     18        USA   English
28       4389   7 November 2014     12        USA   English
205      2092       15 May 2015     16  Australia   English
3        7171    13 August 2008     12        USA   English
..        ...               ...    ...        ...       ...
234       232       7 June 1988      7      Japan  Japanese
116       318      29 June 1960     13        USA   English
65        262  13 November 1958      A        USA   English
118       385       6 July 1944      A        USA   English
131       177    8 October 1999     13       Iran   Persian

                                                 sound            color
75   Dolby Atmos|Auro 11.1|Dolby Surround 7.1|DTS|D...            Color  \
61              SDDS|Dolby Atmos|Datasat|Dolby Digital            Color
28   Datasat|Dolby Digital|IMAX 6-Track|Dolby Surro...            Color
205             Dolby Digital|Datasat|SDDS|Dolby Atmos            Color
3                  Dolby Digital|SDDS|DTS|IMAX 6-Track            Color
..                                                 ...              ...
234                                       Dolby Stereo            Color
116                                               Mono  Black and White
65                                                Mono  Black and White
118                                               Mono  Black and White
131                                               Mono            Color

        ratio        budget           gross  badReviews  neutralReviews
75   2.39 : 1  $356,000,000  $2,797,501,328        1245            1549  \
61   1.85 : 1   $55,000,000  $1,074,251,311        1195            1267
28   2.39 : 1  $165,000,000    $701,729,127         694             650
205  2.39 : 1  $150,000,000    $376,127,771         563             348
3    2.39 : 1  $185,000,000  $1,005,973,645         548             715
..        ...           ...             ...         ...             ...
234  1.85 : 1    $1,000,000      $8,736,506           7              46
116  2.39 : 1    $3,000,000     $18,778,454           7              46
65   1.66 : 1    $3,000,000          $7,693           4              34
118  1.37 : 1      $927,262         $13,886           3              57
131  1.85 : 1      $180,000        $933,933           2              23

     goodReviews  allReviews score_category
75          6281        9075           high
61          8343       10805           high
28          3045        4389         medium
205         1181        2092         medium
3           5908        7171           high
..           ...         ...            ...
234          179         232            low
116          265         318            low
65           224         262            low
118          325         385            low
131          152         177            low

[126 rows x 20 columns]

### Вычислить несколько статистик по колонкам (используйте встроенные агрегатные функции — любые на выбор)

In [32]:
print(df[['score', 'goodReviews']].mean())
print(df[['score', 'goodReviews']].median())
print(df[['score', 'goodReviews']].max())

score          1279.404762
goodReviews     975.420635
dtype: float64
score          914.5
goodReviews    662.5
dtype: float64
score          10805
goodReviews     8343
dtype: int64

### value_counts()

In [33]:
print(df['rating'].value_counts())

rating
A           37
18          23
13          21
12          18
16          12
7           12
(Banned)     1
7/i          1
14           1
Name: count, dtype: int64

### Вывод уникальных значений колонки через .unique()

In [34]:
print(df['rating'].unique())

['12' 'A' '18' '13' '16' '7' '(Banned)' '7/i' '14']

### Удалите текущий индекс и создайте новый индекс на базе новой колонки, которая для этого лучше всего подходит

In [6]:
df = df.reset_index(inplace= False)
df = df.set_index('name')